@page "/ProductDetails/{Id:int}"
@inherits ProductDetailsBase

@if (Product == null)
{

    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

}
else
{ 
    <h3 class="mb-5">Product Details</h3>
    <div class="row">
        <div class="col-md-6 mb-4">
            <img class="img-fluid" src="@Product.ImageURL">
        </div>
        <div class="col-md-6">
            <h3>@Product.Name</h3>
            <p class="mb-4">@Product.Description</p>
            <p class="mb-4">
                <b>
                    @Product.Price.ToString("C")&nbsp;(@Product.Qty items in stock)
                </b>
            </p>
            <div>
                <button class="btn btn-success mr-2"
                        @onclick="() => (AddToCart_Click(new CartItemToAddDto{
                CartId = HardCoded.CartId,
                ProductId = Product.Id,
                Qty = 1
            }))">
                    <b>Add to Cart</b>
                </button>             
            </div>
        </div>

        <AuthorizeView Context="AuthContext">
            @if (AuthContext.User.IsInRole("Administrator") || (AuthContext.User.IsInRole("Manager")))
            {
                <a href="@($"EditProduct/{Product.Id}")"
                   class="btn btn-primary ml-3 mr-3">Edit</a>
            }

        </AuthorizeView>      
    </div>
}


