@page "/admin/edituser/{id}"
@inherits EditUserBase
@using Shopping.Web.Portal.Components

@attribute [Authorize(Policy = "AdminRolePolicy")]

<ServerValidations IsVisible="IsVisible" Result="Result" Edit="Edit" Delete="Delete" ReturnUrl="admin/users">
    @RecordName
</ServerValidations>

<h3>Edit User</h3>

<EditForm Model="EditUserDto" OnValidSubmit="EditUser" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />

    <div class="form-group row">
        <label for="Id" class="col-md-2 col-form-label">Id</label>
        <div class="col-md-10">
            <InputText id="Id" class="form-control" @bind-Value="EditUserDto.Id" readonly />
            <ValidationMessage For="@(() => EditUserDto.Id)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="UserName" class="col-md-2 col-form-label">UserName</label>
        <div class="col-md-10 mt-1">
            <InputText id="UserName" class="form-control" @bind-Value="EditUserDto.UserName" />
            <ValidationMessage For="@(() => EditUserDto.UserName)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="FirstName" class="col-md-2 col-form-label">First Name</label>
        <div class="col-md-10 mt-1">
            <InputText id="FirstName" class="form-control" @bind-Value="EditUserDto.FirstName" />
            <ValidationMessage For="@(() => EditUserDto.FirstName)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="LastName" class="col-md-2 col-form-label">Last Name</label>
        <div class="col-md-10 mt-1">
            <InputText id="LastName" class="form-control" @bind-Value="EditUserDto.LastName" />
            <ValidationMessage For="@(() => EditUserDto.LastName)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="City" class="col-md-2 col-form-label">City</label>
        <div class="col-md-10 mt-1">
            <InputText id="City" class="form-control" @bind-Value="EditUserDto.City" />
            <ValidationMessage For="@(() => EditUserDto.City)" />
        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-primary mr-1 ml-3 mt-1">Update</button>
        <button href="@("admin/users")" type="button" class="btn btn-primary mr-1 mt-1" @onclick="Cancel_Click">Cancel</button>
        <button class="btn btn-danger mt-1" type="button" @onclick="Delete_Click">Delete</button>
    </div>



    <div class="card mt-3">
        <div class="card-header">
            <h3>User Roles</h3>
        </div>
        <div class="card-body">
            @if (EditUserDto.Roles.Any())
            {
                foreach (var role in EditUserDto.Roles)
                {
                    <h5 class="card-title">@role</h5>
                }
            }
            else
            {
                <h5 class="card-title">None at the moment</h5>
            }
        </div>
        <div class="card-footer">
            <a href="@($"admin/manageuserroles/{EditUserDto.Id}")" style="width:auto" class="btn btn-primary">
                Manage Roles
            </a>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h3>User Claims</h3>
        </div>
        <div class="card-body">
            @if (EditUserDto.Claims.Any())
            {
                foreach (var claim in EditUserDto.Claims)
                {
                    <h5 class="card-title">@claim</h5>
                }
            }
            else
            {
                <h5 class="card-title">None at the moment</h5>
            }
        </div>
        <div class="card-footer">
            <a href="@($"admin/manageuserclaims/{EditUserDto.Id}")" style="width:auto" class="btn btn-primary">
                Manage Claims
            </a>
        </div>
    </div>

</EditForm>

<Confirm @ref="DeleteConfirmation" ConfirmationChanged="ConfirmDelete_Click"
         ConfirmationMessage=@($"Are you sure you want to delete \"{EditUserDto.UserName}\"")>
</Confirm>