@page "/admin"
@inherits AdminBase

@attribute [Authorize(Roles = "Administrator, Manager")]

<h3>Admin and Manager Page</h3>

<a href="@($"admin/createProduct")" class="btn btn-primary mr-1 mt-2">Create Product</a>
<a href="@($"admin/roles")" class="btn btn-primary mr-1 mt-2">All Roles</a>
<a href="@($"admin/createrole")" class="btn btn-primary mr-1 mt-2">Create Role</a>
<a href="@($"admin/users")" class="btn btn-primary mr-1 mt-2">All Users</a>
<br />
<br />

<AuthorizeView>

    @if (context.User.IsInRole("Administrator"))
    {
        @*<h2>Claims</h2>
            <br />*@
        <h5>AdminInfo</h5>

        <h5>Claims</h5>
        <ul>
            @foreach (var claim in context.User.Claims)
            {
                <li><b>@claim.Type</b>: @claim.Value</li>
            }
        </ul>
    }
</AuthorizeView>

<br />

<AuthorizeView>

    @if (context.User.IsInRole("Administrator") || context.User.IsInRole("Manager"))
    {
        <h5>Manager and Admin Info</h5>
        <ul>
            TotalSales Today: 99 999:- (:-)
        </ul>
    }
</AuthorizeView>

<br />



